backports-abc==0.5
certifi==2016.9.26
cycler==0.10.0
dask==0.12.0
decorator==4.0.10
enum==0.4.6
imageio==1.6
matplotlib==1.5.3
networkx==1.11
numpy==1.11.2
pika==0.10.0
Pillow==3.4.2
PyAgg==0.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.7
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
snakeviz==0.4.1
toolz==0.8.1
tornado==4.4.2
